.gradle/2.14.1/taskArtifacts/cache.properties.lock
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
.gradle/2.14.1/taskArtifacts/
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries/
.idea/libraries/android_android_23.xml
.idea/libraries/animated_vector_drawable_23_4_0.xml
.idea/libraries/appcompat_v7_23_4_0.xml
.idea/libraries/espresso_core_2_2_1.xml
.idea/libraries/espresso_idling_resource_2_2_1.xml
.idea/libraries/exposed_instrumentation_api_publish_0_4_1.xml
.idea/libraries/javax_annotation_api_1_2.xml___jb_tmp___
.idea/misc.xml
.idea/modules.xml
.idea/libraries/rules_0_4_1.xml
.idea/libraries/runner_0_4_1.xml
.idea/libraries/support_annotations_23_4_0.xml
.idea/libraries/support_v4_23_4_0.xml
.idea/libraries/support_vector_drawable_23_4_0.xml
.idea/libraries/uiautomator_v18_2_1_2.xml
.idea/runConfigurations.xml
idea/runConfigurations.xml
.idea/workspace.xml
GreetFriend.iml
app/app.iml
local.properties
